**
## if removing the above, make sure to ignore:
# Dockerfile
# .dockerignore
# .travis.yml

## files essential for building
!autogen.sh
!configure.ac
!GNUmakefile.am
!Makefile
!ctp2_code/
!ctp2_data/
