# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.pyc
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.VC.db
*.VC.opendb
.vs/
gen/
vs-chromium-project.txt

# Gen
ctp2_code/gs/dbgen/lex.yy.c
ctp2_code/gs/dbgen/y.tab.c
ctp2_code/gs/dbgen/y.tab.h
ctp2_code/gs/dbgen/lex.yy.c
ctp2_code/gs/dbgen/y.tab.c
ctp2_code/gs/dbgen/y.tab.h
ctp2_code/gs/newdb/AdvanceBranchRecord.cpp
ctp2_code/gs/newdb/AdvanceBranchRecord.h
ctp2_code/gs/newdb/AdvanceBranchRecord.stamp
ctp2_code/gs/newdb/AdvanceListRecord.cpp
ctp2_code/gs/newdb/AdvanceListRecord.h
ctp2_code/gs/newdb/AdvanceListRecord.stamp
ctp2_code/gs/newdb/AdvanceRecord.cpp
ctp2_code/gs/newdb/AdvanceRecord.h
ctp2_code/gs/newdb/AdvanceRecord.stamp
ctp2_code/gs/newdb/AgeCityStyleRecord.cpp
ctp2_code/gs/newdb/AgeCityStyleRecord.h
ctp2_code/gs/newdb/AgeCityStyleRecord.stamp
ctp2_code/gs/newdb/AgeRecord.cpp
ctp2_code/gs/newdb/AgeRecord.h
ctp2_code/gs/newdb/AgeRecord.stamp
ctp2_code/gs/newdb/BuildListSequenceRecord.cpp
ctp2_code/gs/newdb/BuildListSequenceRecord.h
ctp2_code/gs/newdb/BuildListSequenceRecord.stamp
ctp2_code/gs/newdb/BuildingBuildListRecord.cpp
ctp2_code/gs/newdb/BuildingBuildListRecord.h
ctp2_code/gs/newdb/BuildingBuildListRecord.stamp
ctp2_code/gs/newdb/BuildingRecord.cpp
ctp2_code/gs/newdb/BuildingRecord.h
ctp2_code/gs/newdb/BuildingRecord.stamp
ctp2_code/gs/newdb/CitySizeRecord.cpp
ctp2_code/gs/newdb/CitySizeRecord.h
ctp2_code/gs/newdb/CitySizeRecord.stamp
ctp2_code/gs/newdb/CityStyleRecord.cpp
ctp2_code/gs/newdb/CityStyleRecord.h
ctp2_code/gs/newdb/CityStyleRecord.stamp
ctp2_code/gs/newdb/CivilisationRecord.cpp
ctp2_code/gs/newdb/CivilisationRecord.h
ctp2_code/gs/newdb/CivilisationRecord.stamp
ctp2_code/gs/newdb/ConceptRecord.cpp
ctp2_code/gs/newdb/ConceptRecord.h
ctp2_code/gs/newdb/ConceptRecord.stamp
ctp2_code/gs/newdb/ConstRecord.cpp
ctp2_code/gs/newdb/ConstRecord.h
ctp2_code/gs/newdb/ConstRecord.stamp
ctp2_code/gs/newdb/CultureRecord.cpp
ctp2_code/gs/newdb/CultureRecord.h
ctp2_code/gs/newdb/CultureRecord.stamp
ctp2_code/gs/newdb/DifficultyRecord.cpp
ctp2_code/gs/newdb/DifficultyRecord.h
ctp2_code/gs/newdb/DifficultyRecord.stamp
ctp2_code/gs/newdb/DiplomacyProposalRecord.cpp
ctp2_code/gs/newdb/DiplomacyProposalRecord.h
ctp2_code/gs/newdb/DiplomacyProposalRecord.stamp
ctp2_code/gs/newdb/DiplomacyRecord.cpp
ctp2_code/gs/newdb/DiplomacyRecord.h
ctp2_code/gs/newdb/DiplomacyRecord.stamp
ctp2_code/gs/newdb/DiplomacyThreatRecord.cpp
ctp2_code/gs/newdb/DiplomacyThreatRecord.h
ctp2_code/gs/newdb/DiplomacyThreatRecord.stamp
ctp2_code/gs/newdb/EndGameObjectRecord.cpp
ctp2_code/gs/newdb/EndGameObjectRecord.h
ctp2_code/gs/newdb/EndGameObjectRecord.stamp
ctp2_code/gs/newdb/FeatRecord.cpp
ctp2_code/gs/newdb/FeatRecord.h
ctp2_code/gs/newdb/FeatRecord.stamp
ctp2_code/gs/newdb/GlobalWarmingRecord.cpp
ctp2_code/gs/newdb/GlobalWarmingRecord.h
ctp2_code/gs/newdb/GlobalWarmingRecord.stamp
ctp2_code/gs/newdb/GoalRecord.cpp
ctp2_code/gs/newdb/GoalRecord.h
ctp2_code/gs/newdb/GoalRecord.stamp
ctp2_code/gs/newdb/GovernmentRecord.cpp
ctp2_code/gs/newdb/GovernmentRecord.h
ctp2_code/gs/newdb/GovernmentRecord.stamp
ctp2_code/gs/newdb/IconRecord.cpp
ctp2_code/gs/newdb/IconRecord.h
ctp2_code/gs/newdb/IconRecord.stamp
ctp2_code/gs/newdb/ImprovementListRecord.cpp
ctp2_code/gs/newdb/ImprovementListRecord.h
ctp2_code/gs/newdb/ImprovementListRecord.stamp
ctp2_code/gs/newdb/LeaderRecord.cpp
ctp2_code/gs/newdb/LeaderRecord.h
ctp2_code/gs/newdb/LeaderRecord.stamp
ctp2_code/gs/newdb/MapIconRecord.cpp
ctp2_code/gs/newdb/MapIconRecord.h
ctp2_code/gs/newdb/MapIconRecord.stamp
ctp2_code/gs/newdb/MapRecord.cpp
ctp2_code/gs/newdb/MapRecord.h
ctp2_code/gs/newdb/MapRecord.stamp
ctp2_code/gs/newdb/OrderRecord.cpp
ctp2_code/gs/newdb/OrderRecord.h
ctp2_code/gs/newdb/OrderRecord.stamp
ctp2_code/gs/newdb/PersonalityRecord.cpp
ctp2_code/gs/newdb/PersonalityRecord.h
ctp2_code/gs/newdb/PersonalityRecord.stamp
ctp2_code/gs/newdb/PollutionRecord.cpp
ctp2_code/gs/newdb/PollutionRecord.h
ctp2_code/gs/newdb/PollutionRecord.stamp
ctp2_code/gs/newdb/PopRecord.cpp
ctp2_code/gs/newdb/PopRecord.h
ctp2_code/gs/newdb/PopRecord.stamp
ctp2_code/gs/newdb/ReligionRecord.cpp
ctp2_code/gs/newdb/ReligionRecord.h
ctp2_code/gs/newdb/ReligionRecord.stamp
ctp2_code/gs/newdb/ResourceRecord.cpp
ctp2_code/gs/newdb/ResourceRecord.h
ctp2_code/gs/newdb/ResourceRecord.stamp
ctp2_code/gs/newdb/RiskRecord.cpp
ctp2_code/gs/newdb/RiskRecord.h
ctp2_code/gs/newdb/RiskRecord.stamp
ctp2_code/gs/newdb/SoundRecord.cpp
ctp2_code/gs/newdb/SoundRecord.h
ctp2_code/gs/newdb/SoundRecord.stamp
ctp2_code/gs/newdb/SpecialAttackInfoRecord.cpp
ctp2_code/gs/newdb/SpecialAttackInfoRecord.h
ctp2_code/gs/newdb/SpecialAttackInfoRecord.stamp
ctp2_code/gs/newdb/SpecialEffectRecord.cpp
ctp2_code/gs/newdb/SpecialEffectRecord.h
ctp2_code/gs/newdb/SpecialEffectRecord.stamp
ctp2_code/gs/newdb/SpriteRecord.cpp
ctp2_code/gs/newdb/SpriteRecord.h
ctp2_code/gs/newdb/SpriteRecord.stamp
ctp2_code/gs/newdb/StrategyRecord.cpp
ctp2_code/gs/newdb/StrategyRecord.h
ctp2_code/gs/newdb/StrategyRecord.stamp
ctp2_code/gs/newdb/TerrainImprovementRecord.cpp
ctp2_code/gs/newdb/TerrainImprovementRecord.h
ctp2_code/gs/newdb/TerrainImprovementRecord.stamp
ctp2_code/gs/newdb/TerrainRecord.cpp
ctp2_code/gs/newdb/TerrainRecord.h
ctp2_code/gs/newdb/TerrainRecord.stamp
ctp2_code/gs/newdb/UnitBuildListRecord.cpp
ctp2_code/gs/newdb/UnitBuildListRecord.h
ctp2_code/gs/newdb/UnitBuildListRecord.stamp
ctp2_code/gs/newdb/UnitRecord.cpp
ctp2_code/gs/newdb/UnitRecord.h
ctp2_code/gs/newdb/UnitRecord.stamp
ctp2_code/gs/newdb/UnitpromotionRecord.cpp
ctp2_code/gs/newdb/UnitpromotionRecord.h
ctp2_code/gs/newdb/UnitpromotionRecord.stamp
ctp2_code/gs/newdb/WonderBuildListRecord.cpp
ctp2_code/gs/newdb/WonderBuildListRecord.h
ctp2_code/gs/newdb/WonderBuildListRecord.stamp
ctp2_code/gs/newdb/WonderMovieRecord.cpp
ctp2_code/gs/newdb/WonderMovieRecord.h
ctp2_code/gs/newdb/WonderMovieRecord.stamp
ctp2_code/gs/newdb/WonderRecord.cpp
ctp2_code/gs/newdb/WonderRecord.h
ctp2_code/gs/newdb/WonderRecord.stamp
ctp2_code/gs/newdb/lex.dbl.c
ctp2_code/gs/slic/lex.sc.c
ctp2_code/gs/slic/lex.yy.c
ctp2_code/gs/slic/sc.tab.c
ctp2_code/gs/slic/sc.tab.h
ctp2_code/gs/slic/y.tab.c
ctp2_code/gs/slic/y.tab.h
ctp2_code/ui/ldl/ldl.output
ctp2_code/ui/ldl/ldl.tab.c
ctp2_code/ui/ldl/ldl.tab.h
ctp2_code/ui/ldl/lex.ldl.c

# Build
ctp2_code/mapgen/Crater_0/
ctp2_code/mapgen/Crater__/
ctp2_code/mapgen/fault__0/
ctp2_code/mapgen/fault___/
ctp2_code/mapgen/geometr0/
ctp2_code/mapgen/geometri/

# Data
ctp2_data/
Scenarios/
save/
help/
rsrc/
ctp2_code/ctp/dipcombo.txt
ctp2_code/ctp/userprofile.txt

# Configs
ctp2_code/ctp/netf.def
ctp2_code/ctp/nsgame.cfg
ctp2_code/ctp/nsplayer.cfg
ctp2_code/ctp/nstrnsprt.cfg

# Logs
logs/
ctp2_code/ctp/eventcb.txt
ctp2_code/ctp/eventlog.txt
ctp2_code/ctp/ldlparselog.txt
ctp2_code/ctp/slicdbg.txt
ctp2_code/ctp/usercritmsgs.txt
ctp2_code/ctp/CTP_LEAKS*
